.vt_alert {
  color: white;
  border-radius: 3px;
  padding: 1em;
	width: 100%;
  max-width: 700px;
	line-height: 1.25;
	box-sizing: border-box;
  
	p, li {
		color: white !important;
		line-height: 1.25 !important;
	}
}

.vt_errors {
  background: #f04124;
  padding-left: 2em;
  font-size: 0.85em;
  margin-left: 0 !important;
  margin-right: 0;
}

.vt_success {
  background: #43AC6A;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1em;
  
  p {
    margin: 10px auto;
  }
}