.vt_form {
  input[type="email"], input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background: #F6F6F6;
    border: 1px solid #D8D8D8;
    box-shadow: inset 0 1px 2px rgba( 150, 150, 150, 0.05 );
    font-family: inherit;
    font-size: 1em;
    padding: 0.5em;
    margin: 0 0 1em 0;
    box-sizing: border-box;
    width: 100%;
		max-width: 700px;
    transition: background-color 0.2s;
    display: block;
    margin-bottom: 1.5em;
    color: #666;
  }
  
  input[type="text"]:focus, input[type="email"]:focus {
    background: white;
    color: #333;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0 0 1em 0;
    border-radius: 0;
    background: #F6F6F6;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+');
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 1px solid #D8D8D8;
    font-family: inherit;
    color: #333;
    padding: 0.5em;
    height: 3em;
    min-height: 40px;
    width: 100%;
    max-width: 700px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background: #333;
    color: white;
    transition: background-color 0.1s linear;
		border: none;
  }
  
  input[type="submit"]:hover {
    background: #666;
  }
}